<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Test form - GCdocs - Dept</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- GC web standards metadata profile -->
  <meta name="description" content="Sign in to GCdocs"/>
  <meta name="keywords" content=""/>
  <meta name="author" content=""/>
  <meta property="dcterms.title" content="Sign in"/>
  <meta property="dcterms.description" content="Sign in to GCdocs"/>
  <meta property="dcterms.creator" content=""/>
  <meta property="dcterms.language" title="ISO639-2/T" content="eng"/>
  <meta property="dcterms.subject" title="gccore" content=""/>
  <meta property="dcterms.issued" title="W3CDTF" content="2018-10-07"/>
  <meta property="dcterms.modified" title="W3CDTF" content="2018-10-07"/>
  <meta property="dcterms.spatial" content="Canada"/>
  <meta property="dcterms.type" content="navigation page"/>
  <meta name="dcterms.source" content=""/>
  <meta name="dcterms.identifier" content=""/>

  <link rel="icon" href="img/favicon.ico" type="image/x-icon" >
  <link rel="stylesheet" href="bundle.css">
</head>

<body vocab="http://schema.org/" typeof="WebPage">

  <ul id="skip" class="list-inline">
    <li><a href="#cont" class="inv focusable">Skip to content</a></li>
  </ul>

  <!-- Header logo, department name and language swap -->
  <header class="clearfix">

    <div class="logo">
      <img src="img/gcdocs-logo.svg" width="200" alt=""/>
      <span class="inv">GCdocs</span>
    </div>

    <!-- Main menu -->  
    <nav typeof="SiteNavigationElement">
      <h2 class="inv">Menu and language selection</h2>

      <button type="button" class="menu" aria-haspopup="true" aria-expanded="false" aria-controls="main-menu">
        <span class="mi mi-menu">View menu</span> 
      </button>
      <button type="button" class="border" lang="fr"><span class="inv">Français: </span>FR</button>
              
      <div class="mdc-drawer mdc-drawer--modal action-menu mdc-drawer__content">    
        <ul role="menu" id="main-menu" aria-orientation="vertical" class="list-unstyled">
          <li role="none"><a role="menuitem" href="#">Enterprise workspace</a></li>
          <li role="none"><a role="menuitem" href="#">My workspace</a></li>
          <li role="none"><a role="menuitem" href="#">My favorites</a></li>
          <li role="none"><a role="menuitem" href="#">My recent documents</a></li>                          
          <li role="none" class="border-top-gray border-top-gap"><a role="menuitem" href="#">Help us improve  <span class="mi mi-feedback"></span></a></li>
          <li role="none"><a role="menuitem" href="#">Desktop site</a></li>
          <li role="none"><a role="menuitem" href="#">Signout</a></li>                          
        </ul>
      </div>
      <div class="mdc-drawer-scrim"></div> 
    </nav>       

  </header>

    <!-- Main content panel -->
    <main property="mainContentOfPage">
    
        <div class="content clearfix">
      
          <noscript>
            <div class="alert alert-warning"><p>JavaScript is required to use GCdocs.	Please contact your departmental help desk for more information.</p></div>
        </noscript>
        
        <nav role="navigation" property="breadcrumb">
          <ul class="breadcrumbs list-inline margin-top-0 margin-bottom-lg">
            <li>
              <a href="/otcs/llisapi.dll/otcs/llisapi.dll?func=ll&objaction=overview&objid=352777&nexturl=%2Fotcs%2Fllisapi%2Edll%3Ffunc%3Dll%26objaction%3Dbrowse%26objid%3D352994%26objtype%3D141%26reqcacheid%3D890514130">
                  <small>
                      <span class="mi mi-chevron-left-large dialog-breadcrumbs"></span>Back
                  </small>
              </a>
            </li>
          </ul>  
        </nav>
        
        <h1>
          Test form          
        </h1>

        <p>Test the retrieval and injection of a form element using AJAX.</p>

        <div id="form"></div>  

      </div>
    </main>

  <!-- Canada wordmark -->
  <footer>
    <div class="row">
      <div class="col-6">
          <img src="img/sig-blk-en.svg" alt="Government of Canada" >
      </div>   
    </div>
  </footer>

<script src="bundle.js" async></script>

<script>
  window.onload = async function(){
    const response = await GCdocs.Ajax.get('/Mobile_AddVersion.html');
    document.querySelector('#form').appendChild(response.querySelector('form[name="AddVersionForm"]'));
  };
</script>

</body>
</html>
