<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Document view - GCdocs - Dept</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- GC web standards metadata profile -->
  <meta name="description" content="Sign in to GCdocs"/>
  <meta name="keywords" content=""/>
  <meta name="author" content=""/>
  <meta property="dcterms.title" content="Sign in"/>
  <meta property="dcterms.description" content="Sign in to GCdocs"/>
  <meta property="dcterms.creator" content=""/>
  <meta property="dcterms.language" title="ISO639-2/T" content="eng"/>
  <meta property="dcterms.subject" title="gccore" content=""/>
  <meta property="dcterms.issued" title="W3CDTF" content="2018-10-07"/>
  <meta property="dcterms.modified" title="W3CDTF" content="2018-10-07"/>
  <meta property="dcterms.spatial" content="Canada"/>
  <meta property="dcterms.type" content="navigation page"/>
  <meta name="dcterms.source" content=""/>
  <meta name="dcterms.identifier" content=""/>

  <link rel="icon" href="img/favicon.ico" type="image/x-icon" >
  <link rel="stylesheet" href="bundle.css">
</head>

<body vocab="http://schema.org/" typeof="WebPage">

  <ul id="skip" class="list-inline">
    <li><a href="#cont" class="inv focusable">Skip to content</a></li>
  </ul>

  <div class="banner banner-info">
    <strong>QA environment:</strong>  test documents only
  </div>

  <!-- Header logo, department name and language swap -->
  <header class="clearfix">

    <div class="logo">
      <img src="img/gcdocs-logo.svg" width="200" alt=""/>
      <span class="inv">GCdocs</span>
    </div>

      <!-- Main menu -->  
      <nav typeof="SiteNavigationElement">
        <h2 class="inv">Menu and language selection</h2>

        <button type="button" class="menu" aria-haspopup="true" aria-expanded="false" aria-controls="main-menu">
          <span class="mi mi-menu">View menu</span> 
        </button>
        <button type="button" class="border" lang="fr"><span class="inv">Français: </span>FR</button>
                
        <div class="mdc-drawer mdc-drawer--modal action-menu mdc-drawer__content">    
          <ul role="menu" id="main-menu" aria-orientation="vertical" class="list-unstyled">
            <li role="none"><a role="menuitem" href="#">Enterprise workspace</a></li>
            <li role="none"><a role="menuitem" href="#">My workspace</a></li>
            <li role="none"><a role="menuitem" href="#">My favorites</a></li>
            <li role="none"><a role="menuitem" href="#">My recent documents</a></li>                          
            <li role="none" class="border-top-gray border-top-gap"><a role="menuitem" href="#">Help us improve  <span class="mi mi-feedback"></span></a></li>
            <li role="none"><a role="menuitem" href="#">Desktop site</a></li>
            <li role="none"><a role="menuitem" href="#">Signout</a></li>                          
          </ul>
        </div>
        <div class="mdc-drawer-scrim"></div> 
      </nav>      

  </header>

  <!-- Main content panel -->
  <main property="mainContentOfPage">

    <div class="content clearfix">

      <noscript>
        <div class="alert alert-warning"><p>JavaScript is required to use GCdocs.  Please contact your departmental help desk for more information.</p></div>
      </noscript>

      <nav role="navigation" property="breadcrumb">
        <ul class="breadcrumbs list-inline margin-top-0 margin-bottom-lg">
          <li><a href="#"><small><span class="mi mi-chevron-left-large dialog-breadcrumbs"></span>Workplace renewal</small></a></li>
        </ul>
      </nav>     

      <div class="well">           

        <a href="#">
          <h1 class="title" id="cont">              
            DG update on workplace renewal.pptx         
            <span class="inv">(Powerpoint)</span>    
          </h1>
          <div class="button">   
            <strong class="underline">Download</strong>         
            <span class="colour-light-green"> <span class="inv">Size:</span> 1.3 <abbr title="Megabytes">MB</abbr></span>
            <!-- span class="icon">
              <span class="mi mi-insert-drive-file" style="color: #f3624f">Powerpoint</span>              
            </span -->
          </div>
        </a>
      </div>

      <p>PowerPoint from our DG on impact workplace renewal will have on our office.</p>

      <ul class="list-unstyled">
        <li>Modified by <a href="mailto:jane.doe@canada.ca?body=GCdocs%3A%20DG%20update%20on%20workplace%20renewal.pptx">Jane Doe</a> 2 days ago at 1:52pm.</li>
        <li><a href="#" class="dialog-versions">3 versions</a> and <a href="#" class="dialog-activity">12 people viewed</a>.</li>
      </ul>

      <h2 class="inv">Document actions</h2>
      <ul class="button-group list-inline margin-top-xl margin-bottom-lg width-100">        
        <li><button type="button" class="mdc-button button button-secondary"><span class="mdc-button__label">Add version</span></button></li>        
        <li><button type="button" class="mdc-button button button-secondary"><span class="mdc-button__label">Email</span></button></li>
        <li><button type="button" class="mdc-button button button-secondary dialog-more-actions" aria-haspopup="true" aria-expanded="false" aria-controls="dialog-more-actions"><span class="mdc-button__label">More actions</span></button></li>
      </ul>
      
      <p class="margin-top-xl margin-bottom-lg"><a href="#" class="dialog-help"><small><span class="mi mi-help margin-right-sm"></span>Help</small></a></p>

      <!-- Breadcrumbs -->
      <div class="mdc-dialog" id="dialog-breadcrumbs" role="alertdialog" aria-modal="true" aria-labelledby="dialog-breadcrumbs-title" aria-describedby="dialog-breadcrumbs-content">
          <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
              <h2 class="mdc-dialog__title" id="dialog-breadcrumbs-title">Breadcrumbs</h2>
              <div class="mdc-dialog__content action-menu" id="dialog-breadcrumbs-content">                                
  
                <ul class="border-top-gray list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Digital Services Branch</a></li>
                  <li><a href="#">Business Partner Solutions</a></li>
                  <li><a href="#">Web portfolio team</a></li>
                  <li><a href="#">Workplace renewal</a></li>
                </ul>

              </div>
              <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                  <span class="mdc-button__label">Close</span>
                </button>
              </footer>            
            </div>
          </div>
          <div class="mdc-dialog__scrim"></div>
        </div>

      <!-- Versions -->
      <div class="mdc-dialog" id="dialog-versions" role="alertdialog" aria-modal="true" aria-labelledby="dialog-versions-title" aria-describedby="dialog-versions-content">
        <div class="mdc-dialog__container">
          <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title" id="dialog-versions-title">Versions</h2>
            <div class="mdc-dialog__content" id="dialog-versions-content">                                

              <ol class="list-unstyled border-item-list" style="counter-reset: list;">
                <li>
                  <a href="#">DG update on workplace renewal.pptx</a> created by
                  <a href="mailto:Jane.Doe@canada.ca">Jane Doe</a>
                  <small class="colour-dark-gray display-block">2019-02-14 at 8:46am</small>
                </li>
                <li>
                    <a href="#">DG update on workplace renewal.pptx</a> created by
                    <a href="mailto:Sandra.Zenya@canada.ca">Sandra Zenya</a>
                  <small class="colour-dark-gray display-block">2019-02-13 at 5:37pm</small>
                </li>
                <li>
                    <a href="#">DG update on workplace renewal.pptx</a> created by
                    <a href="mailto:Kafik.Ardeshir@canada.ca">Kafik Ardeshir</a>
                  <small class="colour-dark-gray display-block">2019-02-08 at 12:03pm</small>
                </li>                                  
              </ol>

            </div>
            <footer class="mdc-dialog__actions">
              <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                <span class="mdc-button__label">Close</span>
              </button>
            </footer>            
          </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
      </div>

      <!-- All activity -->
      <div class="mdc-dialog" id="dialog-activity" role="alertdialog" aria-modal="true" aria-labelledby="dialog-activity-title" aria-describedby="dialog-activity-content">
        <div class="mdc-dialog__container">
          <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title" id="dialog-activity-title">Activity</h2>
            <div class="mdc-dialog__content" id="dialog-activity-content">

              <ul class="list-unstyled border-item-list">
                <li>
                  Version opened by <a href="mailto:john.doe@canada.ca">John Doe</a>
                  <small class="colour-dark-gray display-block">2019-02-14 at 8:46am</small>
                </li>
                <li>
                  Version opened by <a href="mailto:sandra.zenya.doe@canada.ca">Sandra Zenya</a>
                  <small class="colour-dark-gray display-block">2019-02-13 at 2:15pm</small>
                </li>
                <li>
                  Permissions changed by <a href="mailto:frank.nixon@canada.ca">Frank Nixon</a>
                  <small class="colour-dark-gray display-block">2019-02-13 at 10:03am</small>
                </li>
                <li>
                  Unreserve by <a href="mailto:jane.doe@canada.ca">Jane Doe</a>
                  <small class="colour-dark-gray display-block">2019-02-10 at 1:52pm</small>
                </li>
                <li>
                  Version added by <a href="mailto:jane.doe@canada.ca">Jane Doe</a>
                  <small class="colour-dark-gray display-block">2019-02-10 at 1:52pm</small>
                </li> 
                <li>
                  Reserve by <a href="mailto:jane.doe@canada.ca">Jane Doe</a>
                  <small class="colour-dark-gray display-block">2019-02-10 at 11:29am</small>
                </li>
                <li>
                  Version opened by <a href="mailto:john.doe@canada.ca">John Doe</a>
                  <small class="colour-dark-gray display-block">2019-02-09 at 8:46am</small>
                </li>
                <li>
                  Version opened by <a href="mailto:sandra.zenya.doe@canada.ca">Sandra Zenya</a>
                  <small class="colour-dark-gray display-block">2019-02-08 at 2:15pm</small>
                </li>
                <li>
                  Permissions changed by <a href="mailto:frank.nixon@canada.ca">Frank Nixon</a>
                  <small class="colour-dark-gray display-block">2019-02-04 at 10:03am</small>
                </li>
                <li>
                  Unreserve by <a href="mailto:jane.doe@canada.ca">Jane Doe</a>
                  <small class="colour-dark-gray display-block">2019-01-31 at 1:15pm</small>
                </li>
                <li>
                  Version added by <a href="mailto:jane.doe@canada.ca">Jane Doe</a>
                  <small class="colour-dark-gray display-block">2019-01-31 at 1:14pm</small>
                </li> 
                <li>
                  Reserve by <a href="mailto:jane.doe@canada.ca">Jane Doe</a>
                  <small class="colour-dark-gray display-block">2019-01-31 at 11:29am</small>
                </li>
              </ul>

            </div>
            <footer class="mdc-dialog__actions">
              <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                <span class="mdc-button__label">Close</span>
              </button>
            </footer>
          </div>          
        </div>
        <div class="mdc-dialog__scrim"></div>
      </div>

      <!-- More actions -->
      <div class="mdc-dialog" id="dialog-more-actions" role="alertdialog" aria-modal="true" aria-labelledby="dialog-more-actions-title" aria-describedby="dialog-more-actions-content">
        <div class="mdc-dialog__container">
          <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title" id="dialog-more-actions-title">More actions</h2>
            <div class="mdc-dialog__content action-menu" id="dialog-more-actions-content">
              <ul class="border-top-gray list-unstyled" role="menu" aria-orientation="vertical">
                <li role="none"><a role="menuitem" href="#">Download</a></li>
                <li role="none"><a role="menuitem" href="#">Add to favorites</a></li>
                <li role="none" class="border-top-gray border-top-gap"><a role="menuitem" href="#">Rename</a></li>
                <li role="none"><a role="menuitem" href="#">Delete</a></li>
                <li role="none"><a role="menuitem" href="#">Reserve</a></li>
              </ul>
            </div>
            <footer class="mdc-dialog__actions">
              <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                <span class="mdc-button__label">Close</span>
              </button>
            </footer>
          </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
      </div>
      
      <!-- Help -->
      <div class="mdc-dialog" id="dialog-help" role="alertdialog" aria-modal="true"
        aria-labelledby="dialog-help-title" aria-describedby="dialog-help-content">
        <div class="mdc-dialog__container">
          <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title" id="dialog-help-title">Help</h2>
            <div class="mdc-dialog__content" id="dialog-help-content">
              <p>Read the <a href="#">online guides</a> to answer questions about using GCdocs.</p>
              <p>If you are having technical problems, please contact the GCdocs service desk:</p>
              <ul>
                <li><strong>Phone: </strong>1-844-423-6274</li>
                <li><strong>Email: </strong><a href="mailto:TPSGC.GCdocsBureaudeService-GCdocsServiceDesk.PWGSC@tpsgc-pwgsc.gc.ca">Service desk</a></li>
              </ul>

              

            </div>
            <footer class="mdc-dialog__actions">
              <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                <span class="mdc-button__label">Close</span>
              </button>
            </footer>
          </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
      </div>     
    
    </div>
  </main>

  <!-- Canada wordmark -->
  <footer>
    <div class="row">
      <div class="col-6">
          <img src="img/sig-blk-en.svg" alt="Government of Canada" >
      </div>   
    </div>
  </footer>

<script src="bundle.js" async></script>

</body>
</html>
